/bower_components
/.metadata
/.recommenders
/RemoteSystemsTempFiles
/Servers
/helloworld
/jspDemo
/ShoppingCart
/sampleforsecurity
/mvcdemo
/sample
/angulardemo
/restCRUDclient
/Test
/restBackend
/restCLIENT
/restCRUD