<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:c="http://www.springframework.org/schema/c"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="traveller"  class="com.niit.di.Traveller">
<property name="KmTravelled" value="10"></property>
<property name="vehicle"  ref="auto"></property> <!-- dependency injection -->
</bean>
<bean id="car" class="com.niit.di.Car">
<property name="costPerKm" value="120"></property>
</bean>
<bean id="auto" class="com.niit.di.Auto">
<property name="PricePerKm" value="12"></property>
</bean>
</beans>